@import "../../utils";

.header {
  height: 100vh;
  background-image: url(../../images/header_img.jpg);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;
  }

  &__logo {
    background-image: url(../../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 140px;
  }

  &__title {
    color: $background;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 8px 0 8px;

    @include onSmallTablet {
      font-size: 32px;
      line-height: 32px;
      margin: 32px 0 32px;
    }

    @include onTablet {
      font-size: 50px;
      line-height: 68px;
      margin: 72px 0 32px;
    }

    @include onDesktop {
      margin: 138px 0 32px;
    }
  }

  &__text {

    &-paragraph {
      color: $background;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      @include onTablet {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  &__button {
    width: 240px;
    height: 42px;
    border: 2px solid $background;
    border-radius: 15px;
    color: $background;
    margin-top: 8px;
    transition: all 0.5s;

    &:hover {
      background-color: $background;
      color: black;
      border-color: transparent;
    }

    @include onSmallTablet {
      margin-top: 16px;
    }

    @include onTablet {
      margin-top: 36px;
      width: 296px;
      height: 56px;
    }

    @include onDesktop {
      margin-top: 72px;
    }
  }
}
